.section {
  padding: 3rem 0rem;
  background-color: var(--gray-4);
}

.food {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0rem 1.5rem;
}

.food__text__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.food__paragraph__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.food__image {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}

@media screen and (min-width: 765px) {
  .food__text__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1023px) {
  .section {
    padding: 3rem 4rem;
  }

  .food {
    margin: 0rem;
  }
}

@media screen and (min-width: 1365px) {
  .section {
    padding: 4.5rem auto;
  }

  .food {
    max-width: 1200px;
    margin: 0rem auto;
  }
}
