.people__container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0rem 1.25rem;
  gap: 3rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 765px) {
  .people__container {
    grid-template-columns: 1fr 1fr;
    margin: 0rem 3rem 3rem 3rem;
  }
}

@media screen and (min-width: 1023px) {
  .people__container {
    margin: 0rem 5rem 5rem 5rem;
    gap: 4rem;
  }
}

@media screen and (min-width: 1365px) {
  .people__container {
    margin: 0rem auto;
    max-width: 75rem;
    margin-bottom: 5rem;
    gap: 5rem;
  }
}
