.card__data__wrapper {
  padding: 2rem 1rem;
  border: 2px solid var(--gray-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
}

.card__data__wrapper:hover {
  transform: scale(1.02);
}

.card__flag {
  width: 4rem;
  height: 4rem;
}

@media screen and (min-width: 1023px) {
  .card__data__wrapper {
    padding: 2rem;
  }

  .card__flag {
    width: 112px;
    height: 112px;
  }
}
