.papers__section {
  margin: 3rem 1.5rem;
  border-top: 2px solid var(--gray-3);
}

.papers__list__container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 765px) {
  .papers__section {
    margin: 3rem;
  }
}

@media screen and (min-width: 1023px) {
  .papers__section {
    margin: 5rem;
  }

  .papers__list__container {
    margin: 5rem 2rem 0rem 2rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 1365px) {
  .papers__section {
    margin: 5rem auto;
    max-width: 75rem;
  }

  .papers__list__container {
    margin: 5rem auto;
    max-width: 57rem;
  }
}
