* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --green: #238d80;
  --orange: #f04e28;
  --yellow: #f3af44;
  --pink: #fb979b;
  --violet: #cd55cf;
  --black: #262626;
  --gray-1: #414141;
  --gray-2: #848483;
  --gray-3: #dddddd;
  --gray-4: #f3f3f3;
  --white: #ffffff;
  --text: #121212;
  --green-complementary: #1ca695;
  --orange-complementary: #d9572b;
  --yellow-complementary: #fae16e;
  --pink-complementary: #ffe2e3;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
}

small {
  font-size: 0.75rem;
}

@media screen and (min-width: 1023px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.125rem;
  }
}
